

section {
    height:500px;
    padding-top: 200px;
    padding-bottom:50px;
    overflow:auto;
}

.bg-1 {
	background: url('http://clipart-library.com/img/2010318.jpg') no-repeat center center fixed;
    color: darkred;
    background-size: cover;
    width: 100%;
    text-shadow:
    0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
    font-size: 60px;
    
}
  
.bg-2 {
    background: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-160092.jpg') no-repeat top center fixed;
    color:#fff;
    background-size:cover;
    width: 100%;
    
}

.card {
    color: darkred;
    border-width: 0cm;
    
}


#footer {
    height: 60px;
    background-color:darkred;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
  color:#efefef;
  padding-top: 50px;
}

.panel-heading{
    color: blue;
}

a.dropdown-toggle {
    background-color: darkred;
}

a.dropdown-item {
    background-color: darkred;
    color: white;
}

div.dropdown-menu {
    background-color: darkred;
}

.row{
   border-top: none !important; 
}